---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "130" %>

<div class="banner">
</div>

<div class="card">
  <div class="card-description">
  </div>
  <img class="card-pic" src="https://kitt.lewagon.com/placeholder/cities/shanghai">
  <a class="card-link" href="#" ></a>

</div>

  </div>
</div>
